/* Background color for the entire page */
/* body {
    background-color: slategray;
} */

/* Sticky Footer */
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3rem;
    /* padding: 55px;            */
}

.blk {
    color: black;
}

.col-lg-5 {
    margin-bottom: 35px;
}

.projects {
    background-color: rgb(201, 196, 196); 
}

.background2 {
    background-color: rgb(92, 89, 89);
}

.theme {
    background-color: black;
}

.centertxt {
    display: block;
    text-align: center;
}