/* .darker {
  color: gray !important;
  
} */

.App {

  font-family: 'Lato', sans-serif !important;

}

.darko {
  filter: brightness(50%) !important;
}

.evenPic {
  width: 220px;
  height: 110px;
  overflow: hidden;
  justify-content: center;
}

.mobile-btn {
  background: #0070f0 !important;
}

.copyright {
  color: rgb(207, 207, 207);
}

.stickyNav {
  background-color: #141414 !important;
  position:fixed !important;
  top:0 !important;
  width:100% !important;
  z-index:100 !important;
}

.square {
  border-radius: 25px !important;
}

.smoothscroll:hover {
  color: #0070f0 !important;
}

/* .fab-fa-medium {
  background-image: url("./img/medium-brands.svg") !important;
} */

ul.social li:hover, ul.social-links li:hover {
  transform: scale(1.5);
  transition: all .5s ease;
}

#go-top:hover, img:hover {
  transform: scale(1.2);
  transition: all .5s ease;
}

.fa.fa-twitter{
	font-family:sans-serif;
}
.fa.fa-twitter::before{
	content:"ùïè" !important;
	font-size:1.2em;
}